parameters:
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php
    ignoreErrors:
        - '#Contao\\ImagineSvg\\UndefinedBox#'
        - '#Contao\\ImagineSvg\\RelativeBox#'
        - '#"ResizeConfigurationInterface" has been deprecated#'
