name: CI

on:
    pull_request: ~
    push:
        branches:
            - master
        tags:
            - '*'
    schedule:
        - cron: 0 13 * * MON,TUE

jobs:
    coverage:
        name: Coverage
        runs-on: ubuntu-latest
        if: github.event_name != 'schedule'
        steps:
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 7.3
                  extensions: dom, fileinfo, filter, gd, hash, intl, json, mbstring, pcre, pdo, zlib
                  tools: prestissimo, flex
                  coverage: pcov

            - name: Checkout
              uses: actions/checkout@v2

            - name: Install the dependencies
              run: |
                  composer install --no-interaction --no-suggest
                  vendor/bin/simple-phpunit --version

            - name: Generate the coverage report
              run: php -d pcov.enabled=1 vendor/bin/simple-phpunit --coverage-clover=clover.xml --colors=always

            - name: Upload the coverage report
              uses: codecov/codecov-action@v1
              with:
                  file: ./clover.xml
                  fail_ci_if_error: true

    coding-style:
        name: Coding Style
        runs-on: ubuntu-latest
        if: github.event_name == 'pull_request'
        steps:
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 7.3
                  extensions: dom, fileinfo, filter, gd, hash, intl, json, mbstring, pcre, pdo, zlib
                  tools: prestissimo, flex
                  coverage: none

            - name: Checkout
              uses: actions/checkout@v2

            - name: Install the dependencies
              run: |
                  composer install --no-interaction --no-suggest
                  vendor/bin/simple-phpunit --version

            - name: Check the coding style
              run: vendor/bin/php-cs-fixer fix --diff --diff-format=udiff --dry-run

            - name: Analyze the code
              run: vendor/bin/phpstan analyse src tests --level=3 --no-progress

    tests:
        name: PHP ${{ matrix.php }}
        runs-on: ubuntu-latest
        if: github.event_name != 'push'
        strategy:
            fail-fast: false
            matrix:
                php: [7.2, 7.3, 7.4]
        steps:
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  extensions: dom, fileinfo, filter, gd, hash, intl, json, mbstring, pcre, pdo_mysql, zlib
                  tools: prestissimo, flex
                  coverage: none

            - name: Checkout
              uses: actions/checkout@v2

            - name: Install the dependencies
              run: |
                  composer install --no-interaction --no-suggest
                  vendor/bin/simple-phpunit --version

            - name: Run the unit tests
              run: vendor/bin/simple-phpunit --colors=always

    test-php8:
        name: PHP 8.0
        runs-on: ubuntu-latest
        if: github.event_name != 'push'
        steps:
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.0
                  extensions: dom, fileinfo, filter, gd, hash, intl, json, mbstring, pcre, pdo_mysql, zlib
                  tools: prestissimo, flex
                  coverage: none

            - name: Checkout
              uses: actions/checkout@v2

            - name: Install the dependencies
              run: |
                  composer self-update --2
                  php -r '$data = json_decode(file_get_contents(__DIR__."/composer.json"), true); $data["require"]["imagine/imagine"] = "dev-develop as 1.2.99"; file_put_contents(__DIR__."/composer.json", json_encode($data));'
                  composer remove --dev --no-update friendsofphp/php-cs-fixer
                  composer install --no-interaction --no-suggest
                  vendor/bin/simple-phpunit --version

            - name: Run the unit tests
              run: vendor/bin/simple-phpunit --colors=always

    prefer-lowest:
        name: Prefer Lowest
        runs-on: ubuntu-latest
        if: github.event_name != 'push'
        steps:
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 7.3
                  extensions: dom, fileinfo, filter, gd, hash, intl, json, mbstring, pcre, pdo_mysql, zlib
                  tools: prestissimo, flex
                  coverage: none

            - name: Checkout
              uses: actions/checkout@v2

            - name: Install the dependencies
              run: |
                  composer update --prefer-lowest --prefer-stable --no-interaction --no-suggest
                  vendor/bin/simple-phpunit --version

            - name: Run the unit tests
              run: vendor/bin/simple-phpunit --colors=always

    windows:
        name: Windows
        runs-on: windows-latest
        if: github.event_name != 'push'
        steps:
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 7.3
                  extensions: dom, fileinfo, filter, gd, hash, intl, json, mbstring, pcre, pdo_mysql, zlib
                  ini-values: memory_limit=1G
                  tools: prestissimo, flex
                  coverage: none

            - name: Adjust the Git autocrlf setting
              run: git config --global core.autocrlf false

            - name: Checkout
              uses: actions/checkout@v2

            - name: Install the dependencies
              run: |
                  composer install --no-interaction --no-suggest --no-progress
                  vendor/bin/simple-phpunit.bat --version

            - name: Run the unit tests
              run: vendor/bin/simple-phpunit.bat --colors=always
